<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>

    <add name="TODODBCON"
         connectionString="Server=74.15.202.168;Initial Catalog=TODODB;User Id=todotest; password=suifmagique;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
